*.md
__pycache__/
*.pyc
.venv/
mujoco_menagerie/
ReLUQP-py/
paper_solvers.aux
paper_solvers.bbl
paper_solvers.blg
paper_solvers.log
paper_solvers.out
paper_solvers.pdf
paper_solvers.tex
references_solvers.bib
!README.md
